<h1>投稿一覧</h1>

<% @posts.each do |post| %>
<div>

  <%= attachment_image_tag post, :image, size: "200x200", format: 'jpeg' %>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <p>投稿ユーザー画像：<%= attachment_image_tag post.user, :icon_image, :fill, 60, 60, fallback: "no_image.png" %></p>
  <p>タイトル：
  <%= link_to post_path(post.id) do %>
  <%= post.title %></p>
  <% end %>
  <p>本文：<%= post.text %></p>
</div>
 <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
<% end %>