<h1>新規投稿</h1>
<% if @post.errors.any? %>
<p>タイトルか本文が空欄になっているか、<br>
   文字数が長すぎます。
<% end %>

<%= form_with model: @post, local:true do |f| %>
<h4>画像</h4>
<%= f.attachment_field :image %>
<h4>タイトル</h4>
<%= f.text_field :title, placeholder:"タイトル(30文字以内)" %>
<h4>本文</h4>
<%= f.text_area :text, placeholder:"本文を書いてください。(300文字以内)" %>
<%= f.submit '投稿' %>
<% end %>