<h1>投稿詳細画面</h1>

<div>
  <%= attachment_image_tag @post, :image %>
  <p>ショップ名：<%= @post.title %></p>
  <p>説明：<%= @post.text %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
</div>