

<div class="container">
 <div class= "row">
　<div class="col-md-4 my-8">
   <h4>投稿詳細画面</h4>
  </div>
 </div>

 <div class="row">
  <div class="col-md-8">
    <table class="table table-borderless">
      <tbody>
       <tr>
         <td>投稿者</td>
         <td><%= link_to user_path(@post.user.id) do %>
             <%= @post.user.name %>
             <% end %>
         </td>
       </tr>
       <tr>
         <td><%= attachment_image_tag @post, :image %></td>
         <td></td>
       </tr>
       <tr>
         <td>投稿日時</td>
         <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
         <td>タイトル</td>
         <td><%= @post.title %></td>
       </tr>
       <tr>
         <td>本文</td>
         <td><%= @post.text %></td>
       </tr>
       <tr>
         <td>
            <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete, class: "btn-x btn-danger" %>
            <% end %>
         </td>
         <td></td>
       </tr>
       <tr>
         <td>
            <% if @post.favorited_by?(current_user) %>
            <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
            <% end %>
            <% else %>
            <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
            <% end %>
            <% end %>
         </td>
       </tr>
       <tr>
         <td>コメント件数<%= @post.post_comments.count %></td>
         <td>
             <% @post.post_comments.each do |post_comment| %>
             <%= link_to user_path(post_comment.user.id) do %>
             <%= post_comment.user.name %>
             <% end %>
             <%= post_comment.comment %>
             <% if post_comment.user == current_user %>
             <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn-x btn-danger" %>
             <% end %><br>
             <% end %>
         </td>
       </tr>
       <tr>
         <td>
         </td>
         <td></td>
       </tr>
       <tr>
         <td></td>
         <td>
           <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
           <%= f.text_area :comment, size: "40x10", placeholder: "コメントをここに。140文字以内" %>
           <%= f.submit "送信する" %>
           <% end %>
           </td>
       </tr>
      </tbody>
    </table>
  </div>
</div>
