<h1>投稿詳細画面</h1>

<div>
  <%= attachment_image_tag @post, :image %>
  <p>タイトル：<%= @post.title %></p>
  <p>本文：<%= @post.text %></p>
  <p>ニックネーム：<%= @post.user.name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>