<%= flash[:error] %>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 my-5">
      <h4>ログイン</h4></br>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
           <td><%= f.label :メールアドレス %></td>
           <td> <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"example@example.co.jp" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン" %></td>
          </tr>
        </tbody>
      </table>
     </div>
    <div class="col-md-3"></div>
    <% end %>
    </div>
     <div class="row">
       <div class="col-md-12 mx-auto" style="height: 50px;"></div>
 　 　</div>
    <div class="row">
     <div class="col-md-12">
      <div>登録がお済みでない方</div>
       <div><%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください。</div>
            </div>
    </div>
</div>

