<h1>投稿一覧</h1>


<h3>記事検索</h3>
<%= form_tag :search_posts, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
<% end %>


<% @posts.each do |post| %>

<div>

  <%= attachment_image_tag post, :image, size: "200x200", format: 'jpeg' %>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <p>投稿ユーザー画像：<%= attachment_image_tag post.user, :icon_image, :fill, 60, 60, fallback: "no_image.png" %></p>
  <p>タイトル：
  <% if user_signed_in? %>
  <%= link_to post_path(post.id) do %>
  <%= post.title %></p>
  <% end %>
  <% else %>
  <%= post.title %>
  <% end %>
  <p>本文：<%= post.text %></p>
</div>
  <% if user_signed_in? %>
 <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
  <% else %>
  <p><%= "#{post.post_comments.count} コメント" %></p>
  <% end %>
<% end %>