<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 my-3"></div>
  <div class="col-md-10 my-3 text-center"><h3>ユーザー詳細</h3></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
     <div class="col-md-8 text-center">
      <table class="table table-borderless">
        <tbody class="card h-30">
           <tr>
            <td><%= attachment_image_tag @user, :icon_image, :size =>'100x100',  fallback: "no_image.png" %></td>
            <td><%= @user.name %></td>
           </tr>
           <tr>
             <td></td>
             <td><%= @user.introduction %></td>
           </tr>
           <tr>
           <td>
           <% if @user.is_active == true %>
           有効
           <% elsif @user.is_active == false %>
           退会
           <% end %>
           </td>
           <td></td>
           </tr>
           <tr>
            <td></td>
            <td>
             <%= form_with model:@user, url:admins_user_path, local:true do |f| %>
             <%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", value: true %> <%= f.radio_button :is_active, false %><%= f.label :is_active, "退会", value: false %>
             <%= f.submit "変更を保存" %>
             <% end %>
            </td>
           </tr>
      </tbody>
     </table>
    </div>
  </div>
