<h1>ユーザー詳細</h1>

<%= attachment_image_tag @user, :icon_image, :size =>'100x100',  fallback: "no_image.png" %>
<%= @user.name %>
<%= @user.introduction %>

<% if @user.is_active == true %>
<p>有効</p>
<% elsif @user.is_active == false %>
<p>退会</p>
<% end %>

<%= form_with model:@user, url:admins_user_path, local:true do |f| %>

<%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", value: true %> <%= f.radio_button :is_active, false %><%= f.label :is_active, "退会", value: false %>

<%= f.submit "変更を保存" %>

<% end %>

