<div class="container-fluid">
   <div class="row">
    <div class="col-md-12 my-3"></div>
  </div>
    <div class="row">
    <div class="col-md-1 pd-2"></div>
    <div class="col-md-8"><h4 class="text-center">投稿一覧</h4></div>
    <div class="col-md-2">
    </div>
    </div>
 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8 my-5 text-center">
   <% @posts.each do |post| %>
    <table class="table table-borderless">
     <tbody class="card h-30">
      <tr>
       <td class ="col-md-2 text-left"><%= attachment_image_tag post.user, :icon_image, :fill, 60, 60, fallback: "no_image.png" %></td>
       <td class ="col-md-4 text-left"><%= attachment_image_tag post, :image, size: "100x100", format: 'jpeg' %></td>
      </tr>
      <tr>
       <td class ="col-md-2 text-left"><%= link_to admins_user_path(post.user.id) do %><%= post.user.name %><% end %></td>
       <td class ="col-md-4 text-left"></td>
      </tr>
       <tr>
         <td class ="col-md-2 text-left">タイトル</td>
         <td class ="col-md-4 text-left"><%= post.title %></td>
       </tr>
       <tr>
         <td class ="col-md-2 text-left">本文</td>
         <td class ="col-md-4 text-left"><%= post.text %></td>
       </tr>
       <tr>
         <td class ="col-md-2 text-left"></td>
         <td class ="col-md-4 text-left"><%= link_to "削除", admins_post_path(post), method: :delete %></td>
       </tr>
　　　<% end %>
　　　</tbody>
    </table>
    <%= paginate @posts %>
  　</div>
　</div>
</div>