<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 my-5">
      <h4>管理者ログイン画面</h4></br>
    </div>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>  <%= f.label :アドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン" %></td>
          </tr>
       </tbody>
    </table>
  </div>
<% end %>
</div>