<h1>マイページ</h1>
<h3><%= @user.name %></h3>
 <%= attachment_image_tag @user, :icon_image, :size =>'100x100', format: 'jpeg', fallback: "no_image.png" %>
 <%= @user.introduction %>


 <% if @user.id == current_user.id %>
 <%= link_to "プロフィール編集", edit_user_path(@user) %>
 <% end %>

<div><%= link_to "フォロー", user_followings_path(@user.id) %>: <%= @user.followings.count %></div>
<div><%= link_to "フォロワー", user_followers_path(@user.id) %>: <%= @user.followers.count %></div>
<% unless current_user == @user %>
<% if current_user.following?(@user) %>
  <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
<% else %>
  <%= link_to "フォロー", user_relationships_path(@user.id), method: :POST %>
<% end %>
<% end %>


 <% if @user.id == current_user.id %>
 <%= link_to "新規投稿", new_post_path %>
 <% end %>

 <% @posts.each do |post| %>

 <%= post.title %>
 <%= post.text %>

 <% end %>
