<!DOCTYPE html>
<html>
  <head>
    <title>DRINKING</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "記事一覧（フォロワーのみ）", posts_path %>
      </li>
      <li>
        <%= link_to "記事一覧", root_path %>
      </li>
      <li>
        <%= link_to "募集一覧", recruitments_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <% elsif admin_signed_in? %>
      <li>
        <%= link_to "記事一覧", admins_posts_path %>
      </li>
      <li>
        <%= link_to "募集一覧", admins_recruitments_path %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", admins_users_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "About", homes_about_path %>
      </li>
      <li>
        <%= link_to "記事一覧", posts_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
